body {
background-color: grey;
  }

#grid {
display: grid;
grid-template-columns: repeat(16, 1fr);
grid-template-rows: repeat(16, 1fr);
gap: 2px; /* zorgt voor ruimte tussen de blokken */
}

.square {
width: 100%;
padding-bottom: 100%; /*  zorgt ervoor dat de blokken echte blokken zijn  */
}




